$backgroundColor: #F9F9F9;

$accessoryColor: #BFA445;

$contentBaseColor: white;

$lineColor: #D3D3D3;

$graySentenceColor: #747474;

$colorfulBaseColor: #77A88D;

$normalSentenceColor: black;

$fontFamily: 'Helvetica Neue', sans-serif;
