.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #77A88D;

  height: 100%;
  width: 385px;

  overflow: scroll;

  & > .category {
    margin-top: 43px;
  }
}
